<configuration scan="false">

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app":"vesta-api"}</customFields>
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <version>[ignore]</version>
      </fieldNames>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{traceId},%X{spanId}] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Produção/Azure: JSON estruturado -->
  <springProfile name="prod,azure">
    <root level="INFO">
      <appender-ref ref="JSON"/>
    </root>
  </springProfile>

  <!-- Dev local e testes: texto legível com traceId inline -->
  <springProfile name="!prod &amp; !azure">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
